@font-face {
    font-family: "Tomorrow";
    src: url("@/assets/fonts/tomorrow/Tomorrow-Medium.ttf");
}

@font-face {
    font-family: "Noto Sans TC";
    src: url("@/assets/fonts/NotoSansTC/NotoSansTC-Regular.otf");
}


$color-dark-01: #0B0F1A; // 背景色
$color-dark-02: #111726; // card 底色
$color-dark-03: #161E33; // message 底色
$color-yellow: #BFB600;
$color-red: #CC1F75;
$color-blue: #0BC1D9;
$color-white: #E0E0E0;